node_modules
**/node_modules
.turbo
dist
**/dist
.next
**/.next
out
**/out
coverage
.git
.gitignore
.env
.env.*
*.db
*.db-journal
*.log
npm-debug.log*
pnpm-debug.log*
Dockerfile
.dockerignore
.DS_Store
.idea
.vscode
dist-electron
release
apps/backend/uploads
apps/backend/data/sessions
apps/backend/data/config.json
apps/backend/data/sounds/*
!apps/backend/data/sounds/config.json
